<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.storm.luban.dao.AccountMapper" >
  <resultMap id="BaseResultMap" type="com.storm.luban.bean.Account" >
    <id column="account_id" property="accountId" jdbcType="DECIMAL" />
    <result column="user_id" property="userId" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="is_sub" property="isSub" jdbcType="INTEGER" />
    <result column="parent_user_id" property="parentUserId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    account_id, user_id, NAME, CODE, pwd, mobile, is_sub, parent_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from account
    where account_id = #{accountId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from account
    where account_id = #{accountId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.storm.luban.bean.Account" >
    insert into account (account_id, user_id, NAME, 
      CODE, pwd, mobile, 
      is_sub, parent_user_id)
    values (#{accountId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{isSub,jdbcType=INTEGER}, #{parentUserId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.storm.luban.bean.Account" >
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="isSub != null" >
        is_sub,
      </if>
      <if test="parentUserId != null" >
        parent_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        #{accountId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isSub != null" >
        #{isSub,jdbcType=INTEGER},
      </if>
      <if test="parentUserId != null" >
        #{parentUserId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.storm.luban.bean.Account" >
    update account
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="isSub != null" >
        is_sub = #{isSub,jdbcType=INTEGER},
      </if>
      <if test="parentUserId != null" >
        parent_user_id = #{parentUserId,jdbcType=DECIMAL},
      </if>
    </set>
    where account_id = #{accountId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.storm.luban.bean.Account" >
    update account
    set user_id = #{userId,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      is_sub = #{isSub,jdbcType=INTEGER},
      parent_user_id = #{parentUserId,jdbcType=DECIMAL}
    where account_id = #{accountId,jdbcType=DECIMAL}
  </update>
</mapper>