<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.storm.luban.dao.FormulaDetailMapper" >
  <resultMap id="BaseResultMap" type="com.storm.luban.bean.FormulaDetail" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="user_id" property="userId" jdbcType="DECIMAL" />
    <result column="formula_id" property="formulaId" jdbcType="DECIMAL" />
    <result column="computer_mode" property="computerMode" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="DECIMAL" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="type_code" property="typeCode" jdbcType="VARCHAR" />
    <result column="short_code" property="shortCode" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.storm.luban.bean.FormulaDetailWithBLOBs" extends="BaseResultMap" >
    <result column="formula" property="formula" jdbcType="LONGVARCHAR" />
    <result column="formula_str" property="formulaStr" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, user_id, formula_id, computer_mode, count, type_id, type_name, type_code, short_code, 
    STATUS
  </sql>
  <sql id="Blob_Column_List" >
    formula, formula_str
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from formula_detail
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from formula_detail
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.storm.luban.bean.FormulaDetailWithBLOBs" >
    insert into formula_detail (ID, user_id, formula_id, 
      computer_mode, count, type_id, 
      type_name, type_code, short_code, 
      STATUS, formula, formula_str
      )
    values (#{id,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{formulaId,jdbcType=DECIMAL}, 
      #{computerMode,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}, #{typeId,jdbcType=DECIMAL},
      #{typeName,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR}, #{shortCode,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{formula,jdbcType=LONGVARCHAR}, #{formulaStr,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.storm.luban.bean.FormulaDetailWithBLOBs" >
    insert into formula_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="formulaId != null" >
        formula_id,
      </if>
      <if test="computerMode != null" >
        computer_mode,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="typeName != null" >
        type_name,
      </if>
      <if test="typeCode != null" >
        type_code,
      </if>
      <if test="shortCode != null" >
        short_code,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="formula != null" >
        formula,
      </if>
      <if test="formulaStr != null" >
        formula_str,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="formulaId != null" >
        #{formulaId,jdbcType=DECIMAL},
      </if>
      <if test="computerMode != null" >
        #{computerMode,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=DECIMAL},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null" >
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="shortCode != null" >
        #{shortCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="formula != null" >
        #{formula,jdbcType=LONGVARCHAR},
      </if>
      <if test="formulaStr != null" >
        #{formulaStr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.storm.luban.bean.FormulaDetailWithBLOBs" >
    update formula_detail
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="formulaId != null" >
        formula_id = #{formulaId,jdbcType=DECIMAL},
      </if>
      <if test="computerMode != null" >
        computer_mode = #{computerMode,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=DECIMAL},
      </if>
      <if test="typeName != null" >
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null" >
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="shortCode != null" >
        short_code = #{shortCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="formula != null" >
        formula = #{formula,jdbcType=LONGVARCHAR},
      </if>
      <if test="formulaStr != null" >
        formula_str = #{formulaStr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.storm.luban.bean.FormulaDetailWithBLOBs" >
    update formula_detail
    set user_id = #{userId,jdbcType=DECIMAL},
      formula_id = #{formulaId,jdbcType=DECIMAL},
      computer_mode = #{computerMode,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=DECIMAL},
      type_name = #{typeName,jdbcType=VARCHAR},
      type_code = #{typeCode,jdbcType=VARCHAR},
      short_code = #{shortCode,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      formula = #{formula,jdbcType=LONGVARCHAR},
      formula_str = #{formulaStr,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.storm.luban.bean.FormulaDetail" >
    update formula_detail
    set user_id = #{userId,jdbcType=DECIMAL},
      formula_id = #{formulaId,jdbcType=DECIMAL},
      computer_mode = #{computerMode,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=DECIMAL},
      type_name = #{typeName,jdbcType=VARCHAR},
      type_code = #{typeCode,jdbcType=VARCHAR},
      short_code = #{shortCode,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>