<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.storm.luban.dao.MateralMapper" >
  <resultMap id="BaseResultMap" type="com.storm.luban.bean.UserMaterial" >
    <id column="material_id" property="materialId" jdbcType="DECIMAL" />
    <result column="user_id" property="userId" jdbcType="DECIMAL" />
    <result column="product_id" property="productId" jdbcType="DECIMAL" />
    <result column="group_id" property="groupId" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    material_id, user_id, product_id, group_id, NAME, CODE, color, state, created, creator, 
    modified, modifier
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from materal
    where material_id = #{materialId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from materal
    where material_id = #{materialId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.storm.luban.bean.UserMaterial" >
    insert into materal (material_id, user_id, product_id, 
      group_id, NAME, CODE, 
      color, state, created, 
      creator, modified, modifier
      )
    values (#{materialId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, #{productId,jdbcType=DECIMAL}, 
      #{groupId,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{color,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{modified,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.storm.luban.bean.UserMaterial" >
    insert into materal
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="materialId != null" >
        material_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="materialId != null" >
        #{materialId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=DECIMAL},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.storm.luban.bean.UserMaterial" >
    update materal
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=DECIMAL},
      </if>
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where material_id = #{materialId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.storm.luban.bean.UserMaterial" >
    update materal
    set user_id = #{userId,jdbcType=DECIMAL},
      product_id = #{productId,jdbcType=DECIMAL},
      group_id = #{groupId,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      modified = #{modified,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR}
    where material_id = #{materialId,jdbcType=DECIMAL}
  </update>
</mapper>