<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.storm.luban.dao.MetaralAttrMapper" >
  <resultMap id="BaseResultMap" type="com.storm.luban.bean.UserMaterialAttr" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="material_id" property="materialId" jdbcType="DECIMAL" />
    <result column="user_id" property="userId" jdbcType="DECIMAL" />
    <result column="attr_name" property="attrName" jdbcType="VARCHAR" />
    <result column="attr_code" property="attrCode" jdbcType="VARCHAR" />
    <result column="statue" property="statue" jdbcType="INTEGER" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="modifior" property="modifior" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, material_id, user_id, attr_name, attr_code, statue, creator, created, modifier, 
    modifior
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from metaral_attr
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from metaral_attr
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.storm.luban.bean.UserMaterialAttr" >
    insert into metaral_attr (id, material_id, user_id, 
      attr_name, attr_code, statue, 
      creator, created, modifier, 
      modifior)
    values (#{id,jdbcType=DECIMAL}, #{materialId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, 
      #{attrName,jdbcType=VARCHAR}, #{attrCode,jdbcType=VARCHAR}, #{statue,jdbcType=INTEGER}, 
      #{creator,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, 
      #{modifior,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.storm.luban.bean.UserMaterialAttr" >
    insert into metaral_attr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="materialId != null" >
        material_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="attrName != null" >
        attr_name,
      </if>
      <if test="attrCode != null" >
        attr_code,
      </if>
      <if test="statue != null" >
        statue,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifior != null" >
        modifior,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="materialId != null" >
        #{materialId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="attrName != null" >
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrCode != null" >
        #{attrCode,jdbcType=VARCHAR},
      </if>
      <if test="statue != null" >
        #{statue,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifior != null" >
        #{modifior,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.storm.luban.bean.UserMaterialAttr" >
    update metaral_attr
    <set >
      <if test="materialId != null" >
        material_id = #{materialId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="attrName != null" >
        attr_name = #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrCode != null" >
        attr_code = #{attrCode,jdbcType=VARCHAR},
      </if>
      <if test="statue != null" >
        statue = #{statue,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifior != null" >
        modifior = #{modifior,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.storm.luban.bean.UserMaterialAttr" >
    update metaral_attr
    set material_id = #{materialId,jdbcType=DECIMAL},
      user_id = #{userId,jdbcType=DECIMAL},
      attr_name = #{attrName,jdbcType=VARCHAR},
      attr_code = #{attrCode,jdbcType=VARCHAR},
      statue = #{statue,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modifior = #{modifior,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>