<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.storm.luban.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.storm.luban.bean.Order" >
    <id column="order_id" property="orderId" jdbcType="DECIMAL" />
    <result column="trade_id" property="tradeId" jdbcType="DECIMAL" />
    <result column="user_id" property="userId" jdbcType="DECIMAL" />
    <result column="user_nick" property="userNick" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="DECIMAL" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="style_id" property="styleId" jdbcType="DECIMAL" />
    <result column="style_name" property="styleName" jdbcType="VARCHAR" />
    <result column="formula_id" property="formulaId" jdbcType="DECIMAL" />
    <result column="formula_name" property="formulaName" jdbcType="VARCHAR" />
    <result column="main_profile" property="mainProfile" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="REAL" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="order_payment" property="orderPayment" jdbcType="DOUBLE" />
    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
    <result column="min_compute_area" property="minComputeArea" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, trade_id, user_id, user_nick, product_id, product_name, style_id, style_name, 
    formula_id, formula_name, main_profile, color, height, width, num, area, price, order_payment, 
    pic_path, min_compute_area
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order
    where order_id = #{orderId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order
    where order_id = #{orderId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.storm.luban.bean.Order" >
    insert into order (order_id, trade_id, user_id, 
      user_nick, product_id, product_name, 
      style_id, style_name, formula_id, 
      formula_name, main_profile, color, 
      height, width, num, 
      area, price, order_payment, 
      pic_path, min_compute_area)
    values (#{orderId,jdbcType=DECIMAL}, #{tradeId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, 
      #{userNick,jdbcType=VARCHAR}, #{productId,jdbcType=DECIMAL}, #{productName,jdbcType=VARCHAR}, 
      #{styleId,jdbcType=DECIMAL}, #{styleName,jdbcType=VARCHAR}, #{formulaId,jdbcType=DECIMAL}, 
      #{formulaName,jdbcType=VARCHAR}, #{mainProfile,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
      #{height,jdbcType=INTEGER}, #{width,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{area,jdbcType=REAL}, #{price,jdbcType=DOUBLE}, #{orderPayment,jdbcType=DOUBLE}, 
      #{picPath,jdbcType=VARCHAR}, #{minComputeArea,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.storm.luban.bean.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userNick != null" >
        user_nick,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="styleId != null" >
        style_id,
      </if>
      <if test="styleName != null" >
        style_name,
      </if>
      <if test="formulaId != null" >
        formula_id,
      </if>
      <if test="formulaName != null" >
        formula_name,
      </if>
      <if test="mainProfile != null" >
        main_profile,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="orderPayment != null" >
        order_payment,
      </if>
      <if test="picPath != null" >
        pic_path,
      </if>
      <if test="minComputeArea != null" >
        min_compute_area,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=DECIMAL},
      </if>
      <if test="tradeId != null" >
        #{tradeId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="userNick != null" >
        #{userNick,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=DECIMAL},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="styleId != null" >
        #{styleId,jdbcType=DECIMAL},
      </if>
      <if test="styleName != null" >
        #{styleName,jdbcType=VARCHAR},
      </if>
      <if test="formulaId != null" >
        #{formulaId,jdbcType=DECIMAL},
      </if>
      <if test="formulaName != null" >
        #{formulaName,jdbcType=VARCHAR},
      </if>
      <if test="mainProfile != null" >
        #{mainProfile,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=REAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="orderPayment != null" >
        #{orderPayment,jdbcType=DOUBLE},
      </if>
      <if test="picPath != null" >
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="minComputeArea != null" >
        #{minComputeArea,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.storm.luban.bean.Order" >
    update order
    <set >
      <if test="tradeId != null" >
        trade_id = #{tradeId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="userNick != null" >
        user_nick = #{userNick,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=DECIMAL},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="styleId != null" >
        style_id = #{styleId,jdbcType=DECIMAL},
      </if>
      <if test="styleName != null" >
        style_name = #{styleName,jdbcType=VARCHAR},
      </if>
      <if test="formulaId != null" >
        formula_id = #{formulaId,jdbcType=DECIMAL},
      </if>
      <if test="formulaName != null" >
        formula_name = #{formulaName,jdbcType=VARCHAR},
      </if>
      <if test="mainProfile != null" >
        main_profile = #{mainProfile,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=REAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="orderPayment != null" >
        order_payment = #{orderPayment,jdbcType=DOUBLE},
      </if>
      <if test="picPath != null" >
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="minComputeArea != null" >
        min_compute_area = #{minComputeArea,jdbcType=REAL},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.storm.luban.bean.Order" >
    update order
    set trade_id = #{tradeId,jdbcType=DECIMAL},
      user_id = #{userId,jdbcType=DECIMAL},
      user_nick = #{userNick,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=DECIMAL},
      product_name = #{productName,jdbcType=VARCHAR},
      style_id = #{styleId,jdbcType=DECIMAL},
      style_name = #{styleName,jdbcType=VARCHAR},
      formula_id = #{formulaId,jdbcType=DECIMAL},
      formula_name = #{formulaName,jdbcType=VARCHAR},
      main_profile = #{mainProfile,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      height = #{height,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      area = #{area,jdbcType=REAL},
      price = #{price,jdbcType=DOUBLE},
      order_payment = #{orderPayment,jdbcType=DOUBLE},
      pic_path = #{picPath,jdbcType=VARCHAR},
      min_compute_area = #{minComputeArea,jdbcType=REAL}
    where order_id = #{orderId,jdbcType=DECIMAL}
  </update>
</mapper>