<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.storm.luban.dao.ProductDAO" >
  <resultMap id="BaseResultMap" type="com.storm.luban.bean.Product" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="statue" property="statue" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, CODE, statue
  </sql>
  <select id="queryProduct" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM product WHERE  statue = 1
  </select>
</mapper>