<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.storm.luban.dao.UserPreferenceMapper" >
  <resultMap id="BaseResultMap" type="com.storm.luban.bean.UserPreference" >
    <id column="id" property="id" jdbcType="DECIMAL" />
    <result column="account_id" property="accountId" jdbcType="DECIMAL" />
    <result column="user_id" property="userId" jdbcType="DECIMAL" />
    <result column="property" property="property" jdbcType="VARCHAR" />
    <result column="values" property="values" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account_id, user_id, property, values, STATUS, note
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_preference
    where id = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_preference
    where id = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.storm.luban.bean.UserPreference" >
    insert into user_preference (id, account_id, user_id, 
      property, values, STATUS, 
      note)
    values (#{id,jdbcType=DECIMAL}, #{accountId,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}, 
      #{property,jdbcType=VARCHAR}, #{values,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.storm.luban.bean.UserPreference" >
    insert into user_preference
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="property != null" >
        property,
      </if>
      <if test="values != null" >
        values,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="property != null" >
        #{property,jdbcType=VARCHAR},
      </if>
      <if test="values != null" >
        #{values,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.storm.luban.bean.UserPreference" >
    update user_preference
    <set >
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=DECIMAL},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="property != null" >
        property = #{property,jdbcType=VARCHAR},
      </if>
      <if test="values != null" >
        values = #{values,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.storm.luban.bean.UserPreference" >
    update user_preference
    set account_id = #{accountId,jdbcType=DECIMAL},
      user_id = #{userId,jdbcType=DECIMAL},
      property = #{property,jdbcType=VARCHAR},
      values = #{values,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=DECIMAL}
  </update>
</mapper>